configuration {
	modes: "drun,run";
	fixed-num-lines: false;
	drun-match-fields: "name,generic,exec,categories,keywords";
	drun-display-format: "{name}";
}

entry {
    placeholder: "";
}

window {
    transparency: "real";
    background: rgb(0,0,0);
}

mainbox {
    background: transparent;
}
element {
    enabled: true;
    background: rgb(0,0,0);
}

listview {
    enabled: true;
    columns: 4;
    lines: 8; 
    dynamic: true;
    scrollbar: false;
    

    spacing: 5px;
    background-color: transparent;
    color: transparent;
}
