* {
    border: none; border-radius: 0;
    font-family: Lexend, remixicon, Helvetica, sans-serif;
    font-size: 1.2rem; font-weight: 400;

    min-height: 0;
    margin: 0; padding: 0;
}

window#waybar {
    font-family: "Lexend";
    background: transparent;
}

window#waybar.empty #window {
    background: transparent;
    margin: 0; padding: 0;
}

.module {
    background: #14151D;
    padding: 0.55rem;
    border-radius: 3px;
    margin-left: 5px; margin-right: 5px;
} 

.modules-left widget:first-child {
    margin-left: 0;
}

.modules-right widget:last-child {
    margin-right: 0;
}

#workspaces button {
    background: #262837; 
    border-radius: 3px;
    margin-left: 5px; margin-right: 5px;
}

#workspaces button.visible {
    background: #5e6285;
}

#workspaces button.active {
    background: #119db6;
    min-width: 40px;
}

#clock {color: #d88d5a;}